# Python
__pycache__/
*.py[cod]
.venv/
.env

# Django
db.sqlite3
staticfiles/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db