# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/

# VS Code
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db